# Ignorar entorno virtual
venv/
__pycache__/
migrations/
Inventario.xlsx
instance/
index.html
static/uploads/
depuracion.py
.env
import_inventory.py
purge_db.py
CONTROL DE STOCK.xlsm
cotizacion.csv
import_cotizaciones.py
orden_venta.csv
producto_cotizacion.csv
producto_orden.csv
producto.csv
sync_productos_csv.py
sync_staging_to_prod.py
test_excel.py