.container {
    max-width: 100%;
    overflow: hidden;
}

/* Asegurar que el body no se expanda */
html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.formulario-alineado-izquierda {
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
    /* Ajusta este valor según el ancho deseado */
}

.columna-acciones {
    width: 240px;
    /* Ajusta según sea necesario */
    text-align: center;
    /* Centra el botón */
}

.columna-acciones button {
    font-size: 10px;
    /* Reduce el tamaño del texto */
    padding: 4px 8px;
    /* Reduce el espacio interno del botón */
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
}

.modal-open {
    overflow: scroll;
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Barra superior */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000;
    /* Negro sólido */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    height: 56px;
    align-items: center;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #000;
    color: white;
    position: fixed;
    top: 56px;
    left: -250px;
    height: calc(100% - 56px);
    padding-top: 20px;
    transition: left 0.3s;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #333;
}

.sidebar ul li.disabled {
    color: #6c757d;
    cursor: not-allowed;
}

/* Contenido principal */
#main-content {
    margin-left: 0;
    transition: margin-left 0.3s;
    width: 100%;
    padding: 80px 20px 20px;
    /* Aumentar espacio superior para que el título sea visible */
}

/* Estilos cuando el sidebar está abierto */
.sidebar.active {
    left: 0;
}

#main-content.shifted {
    margin-left: 250px;
}

/* Responsividad */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        left: -100%;
    }

    #main-content.shifted {
        margin-left: 0;
    }
}

/* Eliminar la flecha de navegación */
.back-button {
    display: none;
}